<%= stylesheet_link_tag 'boxes' %>

<div class="cols">
	 <% @places.each do |p| %>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
				<a href="places/<%= p.id %>">	<div class="front" style="background-image: url(<%= asset_path (p.image_url) %>)">
						<div class="inner">
							<p><%= p.name %></p>
              <span><%= p.category %></span>
						</div>
				</div>

				<div class="back">
					<div class="inner">
						<p><%= p.formatted_address %></p>
					</div>
				</div>
				</a>
			</div>
		</div>
	<% end %>
</div>
