<div class="container">
  <div id="individual-venue">
    <h1><a href="https://foursquare.com/v/<%= @place.foursquare_id %>" target="_blank" class="venue-link"><%= @place.name %></a></h1>
    <p><%= @place.street_address %></p>
    <p><%= @place.cross_street %></p>
    <p><%= @place.city %>, <%= @place.state %> <%= @place.zip_code %></p>

    <div id="map-container">
      <div id="venue-map"></div>
    </div>

    <%= image_tag(@place.image_url, class: "venue", alt: "@place.name") %>
    <%= link_to 'Back', 'javascript:history.back()', class: "btn back_button" %>
  </div>
</div>

<script>
  var map, infoWindow;

  function initMap() {
    var venue = {lat: <%= @place.lat %>, lng: <%= @place.lng %>};
    map = new google.maps.Map(document.getElementById('venue-map'), {
      center: venue,
      zoom: 15
    });
    infoWindow = new google.maps.InfoWindow;

    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        infoWindow.setPosition(pos);
        infoWindow.setContent('Current location');
        infoWindow.open(map);
        map.setCenter(pos);
      }, function() {
        handleLocationError(true, infoWindow, map.getCenter());
      });
    } else {
      handleLocationError(false, infoWindow, map.getCenter());
    }

    var marker = new google.maps.Marker({ position: venue, map: map });
  }

  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
      'Error: The Geolocation service failed.' :
      'Error: Your browser does not support geolocation.');
    infoWindow.open(map);
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_KEY']%>&callback=initMap"
async defer></script>
