<div  class="container">
  <div id="individual-venue">
    <h1><%= @place.name %></h1>
    <p><%= @place.street_address %></p>
    <p><%= @place.cross_street %></p>
    <p><%= @place.city %>, <%= @place.state %> <%= @place.zip_code %></p>
    <%= image_tag(@place.image_url, class: "venue", alt: "@place.name") %>
  </div>
</div>
